#nav-logo {
  height: 100%;
  padding: 0px;
}

.navbar-brand {
  padding: 8px;
}

#header-image {
  width: 100%;
}

.article {
  margin-top: 10px;
}

.article-img {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

/*.article-text h3 {
  margin-top: 10px;
}*/
