/** {
  border: 1px dashed red;
}*/

/* xs */
#nav-logo {
  height: 100%;
  padding: 0px;
}

.navbar-brand {
  padding: 8px;
}

#header-image {
  width: 100%;
}

.content {
  margin-top: 10px;
}

.content-img {
  /*float: left;*/
  width: 100%;
  margin-bottom: 10px;
}

/* sm */
@media screen and (min-width:768px) {
  body {
    background-color: lightgrey;
  }

}

/* md */
@media screen and (min-width: 992px) {
  body {
    background-color: orange;
  }

  .content-text {
    float: none;
    padding: 0;
  }

}

@media screen and (min-width: 1200px) {
  body {
    background-color: red;
  }

}
