/** {
  border: 1px dashed red;
}*/

body {
  background-color: lightgrey;
}

.content {

  overflow: auto;
}

#nav-logo {
  height: 100%;
  padding: 0px;
}

.navbar-brand {
  padding: 8px;
}

#header-image {
  width: 100%;
}

.content {
  margin-top: 10px;
}

.content-img {
  /*float: left;*/
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width:768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
  #nav-logo {
    text-align: center;
  }
}
